<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url(https://images.unsplash.com/photo-1536599424071-0b215a388ba7?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);">
  <div class="container">
    <h1>Welcome to cocktail advisor</h1>
    <p>World's largest cocktail platform.<br>
    Browse through our selection, read user reviews and choose <strong>your</strong> next cocktail</p>
    <p><a class="btn btn-flat-home" href="/cocktails">Find a cocktail</a></p>
  </div>
</div>
