.recipe{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: white;
  width: 650px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 500px;

  img{
    width:300px;
  }

  ul{
    list-style: none;
    color: $charcoal;

    .fas{
      color: $pink;
      text-align: center;
      font-size: small;
      margin: 4px;
    }
  }
}

.recipe-info{
  margin: 40px
}
