.recipe-card{
  display: flex;
  align-items: center;
  font-weight: bold;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 70%;
  margin: 0 auto;
  position: relative;

  ul{
    list-style: none;
    color: $charcoal;
    padding-left: 16px;

    .fas{
      color: $pink;
      text-align: center;
      font-size: small;
      margin: 4px;
    }
  }
}
#delete-btn{
  position: absolute;
  top: 14px;
  right: 14px;
}

.recipe-img{
  width: 50%;
  height: 100%;

  img{
    width:100%;
    height: 100%;
  }
}

.recipe{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-grow: 1;
  padding: 0 40px;
  a{
    color: $green;
  }
}


.reviews{
  display:flex;
  justify-content: space-between;
  padding: 32px;
  width: 80%;
  margin: 0 auto;
}
.review-form{
  flex-grow: 0;
  margin: 0 32px;
  h3{
    font-size:20px;
    text-align:center;
  }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .recipe-card{
  display: flex;
  align-items: center;
   flex-direction: column;
  font-weight: bold;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  }
  .recipe-img{
  width: 100%;
  }

  .reviews {
   flex-direction: column;
    padding: 0px;
    width: 100%;
  }
  .review-form{
    margin: 32px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .recipe-card{
  display: flex;
  align-items: center;
   flex-direction: column;
  font-weight: bold;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  }
  #delete-btn{
  position: absolute;
  top: 14px;
  right: 14px;
  a{
    background-color:white;
    padding: 8px;
  }
}
  .recipe{
    padding: 20px 20px;
  }
  .recipe-img{
  width: 100%;
  }
  .reviews {
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }
  .review-form{
    margin: 32px;
  }
}


