.recipe-card{
  display: flex;
  align-items: center;
  font-weight: bold;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  img{
    width:  40%;
    height: 100%;
  }

  ul{
    list-style: none;
    color: $charcoal;
    padding-left: 16px;

    .fas{
      color: $pink;
      text-align: center;
      font-size: small;
      margin: 4px;
    }
  }
}

.recipe{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-grow: 1;
  padding: 40px;

  a{
    color: $green;
  }
}
.review-form{
  h3{
    font-size:20px;
    text-align:center;
  }
}
